<table xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
        <th> ID </th>
        <th> First name </th>
        <th> Last name </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${students.empty}">
        <td colspan="2"> No students has been found </td>
    </tr>
    <tr th:each="student : ${students}">
        <td><span th:text="${student.getId}"> ID </span></td>
        <td><span th:text="${student.getFirstName}"> First name </span></td>
        <td><span th:text="${student.getLastName}"> Last name </span></td>
    </tr>
    </tbody>
</table>
